/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto: wght@300;400;500;700&display=swap');


:root {
  --font-family:  'Roboto', sans-serif; // Default font
  --font-family-heading: 'Josefin Sans', sans-serif; // Heading font
  --primary-color: #22c55e; // Primary color
}

// Apply Roboto as the default
body {
  font-family: var(--font-family);
}

// Apply Josefin Sans to headings and titles
h1, h2, h3, h4, h5, h6,
.p-dialog-title,
.p-panel-title,
.p-card-title,
.p-fieldset-legend,
.p-accordion-header,
.p-tabview-title,
.p-menubar-root-list > .p-menuitem > .p-menuitem-link,
.p-breadcrumb,
.p-steps .p-steps-title {
  font-family: var(--font-family-heading);
}

.title,
.subtitle,
.header {
  font-family: var(--font-family-heading);
}
