.container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--font-family), serif;
}

.top-row h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  font-family: var(--font-family-heading), serif;
  margin-bottom: 8px;
}
