.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000;
  background: var(--surface-card);
  border-right: 1px solid var(--surface-border);
  padding: 0;

  .sidebar-header {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--surface-border);
  }
}
