<div class="topbar">
  <div class="topbar-content">

    <div class="logo">
      <img src="logo.svg" alt="Sprint logo" width="32" height="32"/>
      <h3>Sprint</h3>
    </div>

    <div class="search-container">
      <div class="search-wrapper">
        <i class="pi pi-search search-icon"></i>
        <input type="text" placeholder="Find apps, content, and more" class="search-input" />
      </div>
    </div>

    <div class="actions">
      <p-button
        [rounded]="true"
        [text]="true"
        icon="pi pi-question-circle"
        severity="secondary"
        pTooltip="About"
        tooltipPosition="bottom"
        (onClick)="showDialog()"
      />
      <p-dialog header="About Sprint" draggable="false" [modal]="true" [(visible)]="isHelpVisible" [style]="{ width: '25rem' }">

        <div class="flex flex-column gap-3">
          <p class="m-0 text-color-secondary" style="line-height: 1.6;">
            <strong>Sprint</strong> is a real-time Threat Intelligence Platform designed for modern SOCs.
            It ingests high-volume logs, applies dynamic detection rules, and provides instant situational awareness
            to identify and block active threats in milliseconds.
          </p>

          <div class="mt-2">
            <a href="https://github.com/Parallax73/sprint" target="_blank" rel="noopener noreferrer"
               pButton
               label="Parallax73 / sprint"
               icon="pi pi-github"
               class="w-full"
               severity="secondary"
               [outlined]="true">
            </a>
          </div>
        </div>

      </p-dialog>

      <p-button
        [rounded]="true"
        [text]="true"
        [icon]="layoutService.isDarkTheme() ? 'pi pi-sun' : 'pi pi-moon'"
        (onClick)="layoutService.toggleDarkMode()"
        severity="secondary">
      </p-button>
    </div>

  </div>
</div>
